@use "../../../styles/variables" as *;

:root {
  --su-popover-text-color: #{$dark};
  --su-popover-bg-color: #{$light};
  --su-popover-arrow-size: 1rem;
  --su-popover-shadow: 0 0 3px #{$dark-grey};
}

.su-popover {
  display: inline-block;

  &__content {
    border-radius: 4px;
    padding: 4px;
    box-shadow: var(--su-popover-shadow);
  }

  &__arrow {
    width: 10px;
    height: 10px;

    &::before {
      content: "";
      position: absolute;
      border-width: 5px;
      border-color: white transparent transparent transparent;
      border-style: solid;
      width: 0;
      height: 0;
      filter: drop-shadow(0 1px 1px $dark-grey);
    }

    &::after {
      content: "";
      position: absolute;
      border-width: 6.25px;
      border-color: white transparent transparent transparent;
      border-style: solid;
      top: -2px;
      right: 0;
    }
  }
}
