@use "../../../styles/variables" as *;

:root {
  --breadcrumb-font-size: 1.4rem;
  --breadcrumb-link-color: #{$dark};
  --breadcrumb-link-href-cursor: pointer;
  --breadcrumb-link-disabled-cursor: inherit;
  --breadcrumb-link-disabled-color: #{$dark-grey};
  --breadcrumb-prepend-margin-right: 4px;
  --breadcrumb-separator-margin: auto 4px;
}

.su-breadcrumb {
  display: flex;
  align-items: center;
  font-size: var(--breadcrumb-font-size);

  &__prepend {
    margin-right: var(--breadcrumb-prepend-margin-right);
  }

  &__separator {
    margin: var(--breadcrumb-separator-margin);
  }
}

.su-breadcrumb-item {
  display: inline-flex;
  align-items: center;
}

.su-breadcrumb-link {
  cursor: default;
  color: var(--breadcrumb-link-color);

  &--href {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &--disabled {
    cursor: inherit;
    color: var(--breadcrumb-link-disabled-color);
  }
}
