@use "../../../styles/reset";
@use "../../../styles/variables" as *;

$message-colors: (
  info: $primary,
  success: $success,
  warning: $warning,
  error: $danger
);

.su-message-wrap {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.su-message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1.6rem;
  color: $light;
  transition: $default-transition;

  // Modifiers (background-color)
  @each $key, $value in $message-colors {
    &--#{$key} {
      background-color: $value;
    }
  }

  &__cancel {
    margin-left: 8px;
    line-height: 0;
    height: 100%;
    border: 0;
    background: transparent;
    fill: $dark;
  }
}

/* Animation */
.message-move,
.message-enter-active,
.message-leave-active {
  opacity: 1;
  transform: translateY(0);
}

.message-enter-from,
.message-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.message-leave-active {
  position: absolute;
}
