* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

a {
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}
