$primary: #3e8ed0 !default;
$secondary: #98c2ec !default;
$success: #48c78e !default;
$warning: #e6a23c !default;
$danger: #f14668 !default;
$light: #fff !default;
$dark: #333 !default;
$light-grey: #dbdbdb !default;
$dark-grey: #b5b5b5 !default;

$default-transition: all 0.3s ease;
