@use "sass:color";

$primary: #3e8ed0 !default;
$primary-light: color.adjust($primary, $lightness: 10%) !default;
$primary-dark: color.adjust($primary, $lightness: -10%) !default;

$secondary: #98c2ec !default;
$secondary-light: color.adjust($secondary, $lightness: 10%) !default;
$secondary-dark: color.adjust($secondary, $lightness: -20%) !default;

$success: #48c78e !default;
$success-light: color.adjust($success, $lightness: 10%) !default;
$success-dark: color.adjust($success, $lightness: -20%) !default;

$warning: #e6a23c !default;
$warning-light: color.adjust($warning, $lightness: 10%) !default;
$warning-dark: color.adjust($warning, $lightness: -20%) !default;

$error: #f14668 !default;
$error-light: color.adjust($error, $lightness: 10%) !default;
$error-dark: color.adjust($error, $lightness: -20%) !default;

$dark: #333 !default;
$dark-light: color.adjust($dark, $lightness: 10%) !default;
$dark-dark: color.adjust($dark, $lightness: -20%) !default;

$light: #fff !default;

$light-grey: #dbdbdb !default;
$light-light: color.adjust($light-grey, $lightness: 10%) !default;
$light-dark: color.adjust($light-grey, $lightness: -20%) !default;

$dark-grey: #b5b5b5 !default;

$default-transition: all 0.3s ease;
