@use "../../../styles/reset";
@use "../../../styles/transition";
@use "../../../styles/variables" as *;

.su-tooltip {
  display: inline-block;
  position: relative;

  &__content {
    position: absolute;
    width: auto;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: 1.4rem;
    white-space: nowrap;
    color: $light;
    background-color: $dark;
    transition: opacity 0.2s;
  }
}
