@use "../../../styles/variables" as *;

:root {
  --su-tooltip-text-color: #{$light};
  --su-tooltip-bg-color: #{$dark};
}

.su-tooltip {
  display: inline-block;
  position: relative;

  &__content {
    position: absolute;

    border-radius: 4px;
    white-space: nowrap;

    background-color: var(--su-tooltip-bg-color);
    transition: opacity 0.2s;
  }

  &__inner {
    padding: 0.4rem 0.8rem;
    font-size: 1.4rem;
    color: var(--su-tooltip-text-color);
  }

  &__arrow {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: var(--su-tooltip-bg-color);
  }

  &__arrow[data-placement^="top"] {
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  &__arrow[data-placement^="bottom"] {
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  &__arrow[data-placement^="left"] {
    top: 50%;
    right: -5px;
    transform: translateY(-50%) rotate(45deg);
  }
  &__arrow[data-placement^="right"] {
    top: 50%;
    left: -5px;
    transform: translateY(-50%) rotate(45deg);
  }
}
