@use "../../../styles/reset";
@use "../../../styles/transition";
@use "../../../styles/variables" as *;

@mixin rhombus($top, $bottom, $left, $right) {
  &::before {
    content: "";
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;

    @content;
  }
}

.su-tooltip {
  display: inline-block;
  position: relative;

  &-content {
    position: absolute;
    width: auto;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: 1.6rem;
    white-space: nowrap;
    color: $light;
    background-color: $primary;
    transition: all 0.2s;

    &--top {
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(100% + 8px);

      @include rhombus(100%, auto, 50%, auto) {
        transform: translateX(-50%);
        border-top: 6px solid $primary;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
      }
    }

    &--bottom {
      left: 50%;
      transform: translateX(-50%);
      top: calc(100% + 8px);

      @include rhombus(auto, 100%, 50%, auto) {
        transform: translateX(-50%);
        border-top: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $primary;
        border-left: 6px solid transparent;
      }
    }

    &--left {
      top: 50%;
      transform: translateY(-50%);
      left: auto;
      right: calc(100% + 8px);

      @include rhombus(50%, auto, 100%, auto) {
        transform: translateY(-50%);
        border-top: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid $primary;
      }
    }

    &--right {
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 8px);
      right: auto;

      @include rhombus(50%, auto, auto, 100%) {
        transform: translateY(-50%);
        border-top: 6px solid transparent;
        border-right: 6px solid $primary;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
      }
    }

    &--disabled-arrow {
      &::before {
        content: unset;
      }
    }
  }
}
