@use "../../../styles/transition";
@use "../../../styles/variables" as *;

:root {
  --su-dialog-header-padding: 16px 16px 0 16px;
  --su-dialog-body-padding: 20px 16px;
  --su-dialog-footer-padding: 0 16px 16px 16px;
  --su-dialog-header-font-size: 18px;
  --su-dialog-body-font-size: 16px;
  --su-dialog-footer-font-size: 16px;
}

.su-dialog {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);

  &__content {
    position: relative;
    background-color: $light;
    border-radius: 6px;
    font-size: 16px !important;

    &--sm {
      width: 576px;
    }
    &--md {
      width: 768px;
    }
    &--lg {
      width: 992px;
    }
    &--xl {
      width: 1200px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: var(--su-dialog-header-padding);
    font-size: var(--su-dialog-header-font-size);
  }
  &__body {
    padding: var(--su-dialog-body-padding);
    font-size: var(--su-dialog-body-font-size);
  }
  &__footer {
    padding: var(--su-dialog-footer-padding);
    font-size: var(--su-dialog-footer-font-size);
  }

  &__close {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 0;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    transition: $default-transition;
    cursor: pointer;

    &:hover {
      background-color: rgba($light-grey, 0.45);
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;

    .su-button {
      font-size: var(--su-dialog-footer-font-size);
    }
  }
}
