@use "../../../styles/reset";
@use "../../../styles/variables" as *;

$notification-colors: (
  info: $primary,
  success: $success,
  warning: $warning,
  danger: $danger
);

$notification-bg-colors: (
  info: #b3e5fc,
  success: #c8e6c9,
  warning: #ffecb3b7,
  danger: #ffcdd2
);

.su-notification {
  position: fixed;
  max-width: 600px;

  &--right {
    right: 1rem;
  }
  &--left {
    left: 1rem;
  }
  &--top {
    top: 1rem;
  }
  &--bottom {
    bottom: 1rem;
  }

  &-container {
    box-shadow: 0.1rem 0 1.2rem 0 rgb(218, 214, 214);
    border-left: 0.4rem solid $primary;
    border-radius: 0.4rem;

    color: $dark;
    background-color: $light;
    transition: $default-transition;

    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 1.2rem;

    > svg {
      width: 2.8rem;
      height: 2.8rem;
    }
  }

  &-content {
    margin: 0 1.2rem;
    min-width: 20rem;
  }

  &-summary {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &-message {
    font-size: 1.4rem;
  }

  &-cancel {
    width: 2.4rem;
    height: 2.4rem;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background: transparent;

    svg {
      width: 100%;
      height: 100%;
      fill: $light;
    }
  }
}

// Modifiers
@each $key, $value in $notification-colors {
  .su-notification-container--#{$key} {
    background-color: rgba(map-get($notification-bg-colors, $key), 0.8);
    border-left: 4px solid $value;
    color: $value;

    > svg {
      fill: $value;
    }

    & .su-notification-cancel {
      > svg {
        fill: $value;
      }
    }
  }
}

// Animation
.notification-left-enter-active,
.notification-left-leave-active {
  transform: translate(0, 0);
  opacity: 1;
}
.notification-left-enter-from,
.notification-left-leave-to {
  transform: translate(-100%, 0);
  opacity: 0;
}

.notification-right-enter-active,
.notification-right-leave-active {
  transform: translateX(0);
  opacity: 1;
}
.notification-right-enter-from,
.notification-right-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.notification-left-leave-active,
.notification-right-leave-active {
  position: absolute;
}
