@use "../../../styles/variables" as *;

:root {
  --su-notification-info: #{$primary};
  --su-notification-success: #{$success};
  --su-notification-warning: #{$warning};
  --su-notification-error: #{$error};
  --su-notification-close: #{$dark-light};
  --su-notification-text-color: #{$dark};
}

$notification-colors: (
  info: var(--su-notification-info),
  success: var(--su-notification-success),
  warning: var(--su-notification-warning),
  error: var(--su-notification-error)
);

.su-notification-wrap {
  position: fixed;

  &--right {
    right: 1rem;
  }
  &--left {
    left: 1rem;
  }
  &--top {
    top: 1rem;
  }
  &--bottom {
    bottom: 1rem;
  }
}

.su-notification {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.2rem;
  
  background-color: $light;
  border-radius: 0.4rem;
  border-left: 0.4rem solid map-get($notification-colors, "info");
  box-shadow: 0.1rem 0 1.2rem 0 rgb(218, 214, 214);
  color: var(--su-notification-text-color);

  transition: $default-transition;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__message {
    font-size: 1.4rem;
  }

  &__cancel {
    width: 2.4rem;
    height: 2.4rem;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background: transparent;

    > svg {
      width: 100%;
      height: 100%;
      fill: var(--su-notification-close);
    }
  }
}

// Modifiers
@each $key, $value in $notification-colors {
  .su-notification--#{$key} {
    border-left: 4px solid $value;
  }
}

// Animation
.notification-left-enter-active,
.notification-left-leave-active {
  transform: translate(0, 0);
  opacity: 1;
}
.notification-left-enter-from,
.notification-left-leave-to {
  transform: translate(-100%, 0);
  opacity: 0;
}

.notification-right-enter-active,
.notification-right-leave-active {
  transform: translateX(0);
  opacity: 1;
}
.notification-right-enter-from,
.notification-right-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.notification-left-leave-active,
.notification-right-leave-active {
  position: absolute;
}
