@use "../../../styles/variables" as *;

:root {
  --su-backtop-width: 45px;
  --su-backtop-height: 45px;
  --su-backtop-radius: 50%;
  --su-backtop-bg: #{$light};
  --su-backtop-content-text: 1.4rem;
  --su-backtop-content-text-color: #{$dark};
}

.su-backtop {
  position: fixed;
  width: var(--su-backtop-width);
  height: var(--su-backtop-height);
  border-radius: var(--su-backtop-radius);
  background-color: var(--su-backtop-bg);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  .su-backtop__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--su-backtop-content-text);
    color: var(--su-backtop-content-text-color);
  }
}
